.animated-string {
  clip-path: polygon(-100% 0%, 100% -100%, 100% 78%, 0% 78%);

  .animated-letter {
    display: inline-block;
    animation: appear-letters 0.5s ease both;
  }
}

@keyframes appear-letters {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(0);
  }
}