.overlay-screen {
  position: absolute;
  inset: 0;
  background-color: $c-dark;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform .5s ease;
  z-index: 1;

  &.overlay-screen--show {
    transform: scaleY(1);
  }
}